
.TagInput {
  input {
    width: 100%;
    border-radius: 5px;
    border: none;
  }

  .tags {
    position: fixed;
    border: none;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--page-background);

    .row {
      display: block;
      cursor: pointer;
      padding: 0.25em;
      font-size: 0.8em;
      outline: none !important;

      .posts {
        float: right;
        color: rgba(127, 127, 127, 0.5);
      }

      &:hover, &:focus {
        background: rgba(127, 200, 255, 0.1);
      }

      &:nth-child(2n + 1) {
        background: rgba(127, 200, 255, 0.05);

        &:hover, &:focus {
          background: rgba(127, 200, 255, 0.1);
        }
      }
    }
  }
}
